.titlebar-buttonbox-container {
  margin-right: var(--zen-element-separation) !important;
}

.titlebar-button {
  background: none !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 14px 14px !important;
  padding: 0px 7px !important;
}

.titlebar-button::before {
  display: none !important;
}

.titlebar-buttonbox > *:not(:first-child) {
  margin-left: 14px !important;
}

.titlebar-button:hover {
  filter: brightness(1.2) !important;
}

.titlebar-button:active {
  filter: brightness(0.8) !important;
}

.titlebar-min {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4NS40IDg1LjQiIHZpZXdCb3g9IjAgMCA4NS40IDg1LjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im00Mi43IDg1LjRjMjMuNiAwIDQyLjctMTkuMSA0Mi43LTQyLjdzLTE5LjEtNDIuNy00Mi43LTQyLjctNDIuNyAxOS4xLTQyLjcgNDIuNyAxOS4xIDQyLjcgNDIuNyA0Mi43eiIgZmlsbD0iI2UxYTczZSIvPjxwYXRoIGQ9Im00Mi43IDgxLjhjMjEuNiAwIDM5LjEtMTcuNSAzOS4xLTM5LjFzLTE3LjUtMzkuMS0zOS4xLTM5LjEtMzkuMSAxNy41LTM5LjEgMzkuMSAxNy41IDM5LjEgMzkuMSAzOS4xeiIgZmlsbD0iI2Y2YmU1MCIvPjwvZz48L3N2Zz4=") !important;
}

.titlebar-max {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4NS40IDg1LjQiIHZpZXdCb3g9IjAgMCA4NS40IDg1LjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im00Mi43IDg1LjRjMjMuNiAwIDQyLjctMTkuMSA0Mi43LTQyLjdzLTE5LjEtNDIuNy00Mi43LTQyLjctNDIuNyAxOS4xLTQyLjcgNDIuNyAxOS4xIDQyLjcgNDIuNyA0Mi43eiIgZmlsbD0iIzJkYWMyZiIvPjxwYXRoIGQ9Im00Mi43IDgxLjhjMjEuNiAwIDM5LjEtMTcuNSAzOS4xLTM5LjFzLTE3LjUtMzkuMS0zOS4xLTM5LjEtMzkuMSAxNy41LTM5LjEgMzkuMSAxNy41IDM5LjEgMzkuMSAzOS4xeiIgZmlsbD0iIzYxYzU1NSIvPjwvZz48L3N2Zz4=") !important;
}

.titlebar-restore {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4NS40IDg1LjQiIHZpZXdCb3g9IjAgMCA4NS40IDg1LjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im00Mi43IDg1LjRjMjMuNiAwIDQyLjctMTkuMSA0Mi43LTQyLjdzLTE5LjEtNDIuNy00Mi43LTQyLjctNDIuNyAxOS4xLTQyLjcgNDIuNyAxOS4xIDQyLjcgNDIuNyA0Mi43eiIgZmlsbD0iIzJkYWMyZiIvPjxwYXRoIGQ9Im00Mi43IDgxLjhjMjEuNiAwIDM5LjEtMTcuNSAzOS4xLTM5LjFzLTE3LjUtMzkuMS0zOS4xLTM5LjEtMzkuMSAxNy41LTM5LjEgMzkuMSAxNy41IDM5LjEgMzkuMSAzOS4xeiIgZmlsbD0iIzYxYzU1NSIvPjwvZz48L3N2Zz4=") !important;
}

.titlebar-close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4NS40IDg1LjQiIHZpZXdCb3g9IjAgMCA4NS40IDg1LjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im00Mi43IDg1LjRjMjMuNiAwIDQyLjctMTkuMSA0Mi43LTQyLjdzLTE5LjEtNDIuNy00Mi43LTQyLjctNDIuNyAxOS4xLTQyLjcgNDIuNyAxOS4xIDQyLjcgNDIuNyA0Mi43eiIgZmlsbD0iI2UyNGI0MSIvPjxwYXRoIGQ9Im00Mi43IDgxLjhjMjEuNiAwIDM5LjEtMTcuNSAzOS4xLTM5LjFzLTE3LjUtMzkuMS0zOS4xLTM5LjEtMzkuMSAxNy41LTM5LjEgMzkuMSAxNy41IDM5LjEgMzkuMSAzOS4xeiIgZmlsbD0iI2VkNmE1ZiIvPjwvZz48L3N2Zz4=") !important;
}
